{% extends 'app/base.html' %}
{% block main_block %}
<link rel="stylesheet" type="text/css" href="static/css/home.css">
<!--<div style="background-color:#ccffff;background-image:url(../../static/images/pallete.jpg);
background-repeat:no-repeat;background-size:100% 100%;
background-position:left-bottom;">--->
<div style="background-color:#ccffff;">
<h1> HOME PAGE </h1>
..............................
		<b style="color:#000000">Are you creative enough to join us!!!!!!!!!!!</b>

<img src="/static/images/pallete.jpg" alt="background img" width="30% ">
</div>
{% endblock %}