form{
	border: 3px solid#66b3ff;
	width:40%;
	margin:20px auto;
	border-radius:5px;
	background-color:#ececec;

}

caption{
	font-size:20px;
	color:#66b3ff;
	font-weight:bold;
	height:50px;
}

table{
	width:90%;
	/*border: 3px solid black;*/
	margin:10px auto;
}
td,tr{
	width:50%;
	/*border: 3px solid black;*/
	

}
td,th,tr{
	height:30px;
}
.helptext{
	display:none;
}
th{
	text-align:right;
	/* padding-right: 20px; */
	color:#66b3ff;
}

td{
	/* padding-left: 20px; */
}

input{
	border: 1px solid #8f8f8f;
	padding: 2px 7px;
	border-radius:5px;
	font-size:15px;
}

#btn{
	margin-top:70px;
	padding:8px 12px;
	background-color:#b5b5b5;
	color: #620062;
	font-weight:bold;
}
#btn_box{
	text-align:center;
	margin:10px;
	
}

select{
	border:1px solid  #8f8f8f;
	border-radius:5x;
	padding:6px 8px;
	font-size:18px;
}
