{% extends 'app/base.html' %}
{% block main_block %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
<h1>Change Password Page</h1>
    <h2>Change Password</h2>
    <form method="post">
        
        {{ form.as_p }}
        
		<tr>
		<td> <a href="/accounts/login">Back</a></td>
				<td colspan="2" id="btn_box">
					{% csrf_token %}
					 <!-- <button id="btn" type="submit">submit</button> -->
					<input  id="btn" type="submit" value="Submit" />
				</td>
			</tr>
    </form>

{% endblock %}